<p>Named after Mt. Olympus and the Olympus Range on the borders of Macedonia and Thessaly, Greece, Olympus is SSS’s most advanced rocket yet. Primarily constructed out of aluminum and fiberglass, Olympus’s goal is to fly to an altitude of roughly 30,000ft, carry a camera, broadcast live telemetry, and to further develop our aluminum airframe manufacturing capabilities. We plan to launch Olympus sometime in September or October in the California desert just north of Edwards Air Force Base. </p>

<p>Album: <a href="http://imgur.com/a/u6SMf">http://imgur.com/a/u6SMf</a></p>