<p>Sierra, named after the Sierra Nevada mountain range,  was Student Space System’s first custom designed and built rocket. Constructed out of primarily fiberglass and standing at almost 11 ft tall, Sierra was designed to achieve an altitude of above  10,000ft. In addition, the rocket was fitted with an extra payload bay in order for it to be able to carry test payloads for future phase rockets. The initial flight bay contained several sensors, as well as the first telemetry module to fly on a phase rocket. Telemetry was transmitted on a 900MHz module, outfitted with a custom-built axial mode helical antenna. Sierra was designed to test our tailcone integration methods and to prove that we could successfully launch a custom designed rocket.</p>

<p>Sierra flew for the first time for a test flight in December of 2014 with an undersized engine. It flew to an altitude of 6,421 ft AGL with a successful dual deployment recovery.</p>

<p>Sierra’s next planned flight was in May of 2015, on a commercial M-class motor. At this launch, Sierra suffered a catastrophic motor failure less than a second into the flight. While the damage to the airframe is cosmetically repairable, we have decided that it is most prudent to retire the rocket. After analyzing recovered components of the motor in conjunction with experts in rocket propulsion, we have determined that a design flaw in the motor is the most likely cause of the failure. More information regarding the incident can be read in the documents section. Sierra now resides at the Aerospace Engineering Department’s home in Talbot Laboratory.</p>

<blockquote class="imgur-embed-pub" lang="en" data-id="a/XfLV8"><a href="//imgur.com/a/XfLV8">Phase II - Sierra Test Launch</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>

<blockquote class="imgur-embed-pub" lang="en" data-id="a/Sw47m"><a href="//imgur.com/a/Sw47m">Phase II - Sierra Raspberry Pi Bay</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>

<iframe width="560" height="315" src="https://www.youtube.com/embed/FzovXrEZEns" frameborder="0" allowfullscreen></iframe>

<br/>
<h4><a href="/rockets/phasethree">Next: how will the most recent phase work?</a></h4>