<p>Named after the Ozark mountains in Arkansas, Ozark is Student Space System’s first rocket. Since SSS was less than 20 members at the time, the goal of Phase 1 was to get all of our members up to speed on basic rocket construction principles.It was a simple commercially purchased kit rocket to ensure we were working with a proven rocket design. Ozark launched successfully to 4500 ft with a perfect dual deployment recovery. Ozark now resides at the Aerospace Engineering Department’s home in Talbot Laboratory.</p>

<blockquote class="imgur-embed-pub" lang="en" data-id="a/7UPy3"><a href="//imgur.com/a/7UPy3">Phase I - Ozark Construction</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>

<br/>
<h4><a href="/rockets/phasetwo">Next: how will the next phase work?</a></h4>