<p>Phase I was Student Space System’s first rocket. The goal of Phase I was to get all of our members at the time up to speed on basic rocket construction principles. It launched successfully to 4500 ft with a perfect dual deployment recovery. </p>

<a href="/rockets/phasetwo">Next: how will the next phase work?</a>