<p>Phase II, also known as Sierra, was Student Space System’s first custom designed and built rocket. Constructed out of primarily fiberglass and standing at almost 11 ft tall, Sierra is designed to achieve above an altitude of 10,000ft. As of the start of 2015, it has completed a test flight to 6400 ft and is being prepared for its flight to above 10,000ft. Sierra will also serve as a testbed for the advanced avionics to be used on the Phase III rocket.</p>

<a href="/rockets/phasethree">Next: how will the most recent phase work?</a>