<!DOCTYPE html>
<html>
	<head>
		<% include partials/template/head.ejs %>
	</head>

	<body>
		<% include partials/template/navbar.ejs %>

		<div class="container">
			<div class="row"><!-- Include bottom margin -->
				<h1>FAQ</h1>
				<div id="accordion">
					<% faq.forEach(function (item) { %>
						<h3><%= item['question'] %></h3>
						<div>
							<p><%= item['answer'] %></p>
						</div>
					<% }); %>
				</div>
			</div>
		</div>

		<% include partials/template/footer.ejs %>
		<script>
			$(function() {
    			$( "#accordion" ).accordion();
  			});
		</script>
	</body>
</html>