<!DOCTYPE html>
<html>
	<head>
		<% include partials/template/head.ejs %>
	</head>

	<body>
		<div class="canvas">
			<% include partials/template/header.ejs %>

			<div class="wide-row">
				<% include partials/template/sidenav.ejs %>
				
				<% include partials/content/content.ejs %>
			</div>

			<% include partials/template/footer.ejs %>
		</div>

		<% include partials/template/jsdefaults.ejs %>
	</body>
</html>