<!-- Start departments section -->
<div id="#departmentsection-wrapper">
	<strong class="title">DEPARTMENTS</strong>

	<% for (var row in departments) { %>
		<ul class="tr">

			<% var row = departments[row]; %>
			<% for (var department in row) { %>
				<% if (row.hasOwnProperty(department)) { %>

					<li class="department">
						<img src="<%= row[department].img %>" alt="<%= department %>" class="departmenticon">
						<strong><%= department %></strong>
						<%- row[department].text %>
					</li>

				<% } %>
				
			<% } %>

		</ul>
	<% } %>
	
</div>
<!-- End departments section -->