<!-- Start departments section -->
<div id="#departmentsection-wrapper">
	<strong class="title">DEPARTMENTS</strong>

	<% departments.forEach(function (row) { %>
		<ul class="tr">
			<% row.forEach(function (department) { %>
				<li class="department">
					<img src="<%= department['img'] %>" alt="<%= department['name'] %>" class="departmenticon">
					<strong><%= department['name'] %></strong>
					<%- department['html'] %>
				</li>
			<% }); %>
		</ul>
	<% }); %>
	
</div>
<!-- End departments section -->