<!-- Start footer -->
<footer>
	<div class="footer" id="footer">
		<div class="col">
			<strong>Rockets</strong>
			<ul>
				<li><a href="/rocketmanifest#phaseone">Phase I</a></li>
				<li><a href="/rocketmanifest#phasetwo">Phase II</a></li>
				<li><a href="/rocketmanifest#phasethree">Phase III</a></li>
			</ul>
		</div>
		<div class="col">
			<strong>Updates</strong>
			<ul>
				<li><a href="/media/socialmedia">Social Media</a></li>
				<li><a href="/media/photos">Gallery</a></li>
				<li><a href="/rocketmanifest">Launch Manifest</a></li>
			</ul>
		</div>
		<div class="col">
			<strong>About SSS</strong>
			<ul>
				<li><a href="/aboutus/execboard">Executive Board</a></li>
				<li><a href="/aboutus/mission">Mission Statement</a></li>
				<li><a href="/aboutus/timeline">Timeline</a></li>
			</ul>
		</div>
		<div class="address-col">
			<img src="/images/sss_logo.png" id="footer-logo" alt="Logo">
			<address>
				<p>Talbot Laboratory</p>
				<p>104 South Wright Street</p>
				<p>Urbana, IL 61801</p>
				<p><a href="mailto:uiuc.sss@gmail.com">uiuc.sss@gmail.com</a></p>
			</address>
		</div>
		<p class="copyright">Copyright &copy; 2014 &middot; All Rights Reserved &middot; Student Space Systems at UIUC</p>
	</div>
</footer>
<!-- End footer -->