<!-- Start footer -->
<div class="footer" id="footer">
	<footer class="container">
		<div class="row">
			<div class="col-xs-3">
				<strong>Rockets</strong>
				<ul>
					<li><a href="/rockets/phaseone">Phase I</a></li>
					<li><a href="/rockets/phasetwo">Phase II</a></li>
					<li><a href="/rockets/phasethree">Phase III</a></li>
				</ul>
			</div>
			<div class="col-xs-3">
				<strong>Updates</strong>
				<ul>
					<li><a href="/media/socialmedia">Social Media</a></li>
					<li><a href="/media/photos">Gallery</a></li>
					<li><a href="/rockets">Launch Manifest</a></li>
				</ul>
			</div>
			<div class="col-xs-3">
				<strong>About SSS</strong>
				<ul>
					<li><a href="/aboutus/execboard">Executive Board</a></li>
					<li><a href="/aboutus/statement">Mission Statement</a></li>
					<li><a href="/aboutus/timeline">Timeline</a></li>
				</ul>
			</div>
			<div class="col-xs-3">
				<img src="/images/logo_footer.png" id="footer-logo" alt="Logo">
				<address>
					<p>Talbot Laboratory</p>
					<p>104 South Wright Street</p>
					<p>Urbana, IL 61801</p>
					<p><a href="mailto:uiuc.sss@gmail.com">uiuc.sss@gmail.com</a></p>
				</address>
			</div>
		</div>

		<div class="copyright text-center">
			Copyright &copy; <script>document.write(new Date().getFullYear())</script><noscript>2015</noscript> &middot; All Rights Reserved &middot; Student Space Systems at UIUC
		</div>
	</footer>
</div>
<!-- End footer -->