<!-- Begin image gallery -->
<div class="jcarousel-wrapper" id="imagegallery">
	<!-- Begin images -->
	<div class="jcarousel">
		<ul><!-- IMAGES HAVE TO BE 4:3 ASPECT RATIO OR WIDER -->
			
			<% gallery.forEach(function (item) { %>

				<li>
					<img src="<%= item['src'] %>" title="<%= item['title'] %>" alt="<%= item['caption'] %>">
				</li>
				
			<% }); %>
			
		</ul>
	</div>
	<!-- End images -->

	<!-- Being caption -->
	<div class="imagecaption"></div>
	<!-- End caption -->

	<!-- Begin controls -->
	<a class="jcarousel-prev" href="#">&lt;</a>
	<a class="jcarousel-next" href="#">&gt;</a>
	<!-- End controls -->

	<!-- Begin pagination -->
	<div class="jcarousel-pagination"></div>
	<!-- End pagination -->
</div>
<!-- End image gallery -->