<header>
	<div class="row">
		<!-- Begin logo -->
		<a href="/"><img src="/images/logo.png" id="logo" alt="Logo"></a>
		<!-- End logo -->

		<!-- Begin searchbar -->
		<form id="searchbar">
			<input type="text" name="search" id="search" size="20" maxlength="120" placeholder="Search SSS">
			<input type="submit" value="&#8594;">
		</form>
		<!-- End searchbar-->
	</div>

	<!-- Begin navbar -->
	<% include navbar.ejs %>
	<!-- End navbar -->
</header>