<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title %></title>

<!-- Expletus Sans -->
<link href='http://fonts.googleapis.com/css?family=Expletus+Sans:400,700' rel='stylesheet' type='text/css' />

<!-- JQuery -->
<script src="/components/jquery/dist/jquery.min.js"></script>

<!-- Bootstrap -->
<link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css" />
<script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- JCarousel -->
<script src="/components/jcarousel/dist/jquery.jcarousel.min.js"></script>

<!-- Semantic UI -->
<link rel="stylesheet" href="/components/semantic-ui/dist/components/icon.min.css" />

<!-- Site-specific -->
<link rel="stylesheet" href="/stylesheets/style.css" />
<script src="/javascripts/script.js"></script>