<meta charset="utf-8">
<title><%= title %></title>

<link rel="stylesheet" href="https://cdn.rawgit.com/alpixel/jMenu/master/css/jmenu.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.2.0/components/icon.min.css">
<link rel="stylesheet" href="./stylesheets/normalize.css">
<link rel="stylesheet" href="./stylesheets/jquery-ui.min.css">
<link rel="stylesheet" href="./stylesheets/style.css">

<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script><!-- JQuery -->
<script src="./javascripts/script.js" defer></script>