<!-- Begin subscriptions bar -->
<div id="socialmedia">
	<ul class="list-unstyled">
		<li><a href="https://www.facebook.com/StudentSpaceSystems"><i class="facebook square icon"></i></a></li>
		<li><a href="https://twitter.com/TripleSpace"><i class="twitter square icon"></i></a></li>
		<li><a href="https://www.youtube.com/channel/UCH5YkqFJ5DOgSli0WTgACWg"><i class="youtube square icon"></i></a></li>
		<!--<li><a href="https://plus.google.com/"><i class="google plus square icon"></i></a></li>-->
		<li><a href="#"><i class="rss square icon"></i></a></li>
		<li class="button"><button class="btn btn-primary" id="subscribebutton" style="background:#21409a">Subscribe</button></li>
	</ul>
</div>
<!-- End subscriptions bar -->