<!-- Begin subscriptions bar -->
<ul id="socialmedia-wrapper">
	<li><a href="https://www.facebook.com/StudentSpaceSystems"><i class="facebook square icon"></i></a></li>
	<li><a href="https://twitter.com/TripleSpace"><i class="twitter square icon"></i></a></li>
	<!--<li><a href="https://www.youtube.com/"><i class="youtube square icon"></i></a></li>-->
	<!--<li><a href="https://plus.google.com/"><i class="google plus square icon"></i></a></li>-->
	<li><a href="#"><i class="rss square icon"></i></a></li>
	<li class="button"><button id="subscribebutton">Subscribe</button></li>
</ul>
<!-- End subscriptions bar -->