body {
	font: Georgia, serif;
}

a:link {
	text-decoration: none;
	color: #21409a;
}

a:visited {
	color: #21409a;
}

a:hover {
	color: blue;
}

a:active {
	color: blue;
}

/*=== Begin navbar CSS ===*/

/* Center jMenu */
.jMenu {
  	margin: 0 auto 0 auto;
  	width: 1024px;
}

/* Format top-level li */
.jMenu li {
	padding: 0 16px 0 16px; /* Adjust as necessary */
	background: black;
}

/* Format second-level li */
.jMenu li ul li {
	width: 256px;
	/* background: transparent; */
	border: none;
}

/* Format text */
.jMenu li a, .jMenu li ul li a {
	font-size: 16px;
	/* color: black; */
}

/* Format hover */
.jMenu li a:active, .jMenu li ul li a:hover {
	/* background: transparent; */
}

/*=== End navbar CSS ===*/

/*=== Begin image gallery CSS ---*/

/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.jcarousel {
    position: relative;
    overflow: hidden;
	/*
    webkit-border-radius: 20px;
      -moz-border-radius: 20px;
	       border-radius: 20px;
	*/
}

/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jcarousel ul {
    width: 20000em;
    position: relative;

    /* Optional, required in this case since it's a <ul> element */
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel li {
    /* Required only for block elements like <li>'s */
    float: left;
}

/* Wrapper CSS */

.jcarousel-wrapper {
	height: 768px; /* HEIGHT OF WRAPPER */
	width: 1024px; /* WIDTH OF WRAPPER */
	position: relative;
	overflow: hidden;
	margin: 0 auto 0 auto;
}

.jcarousel ul li img {
	height: 768px; /* MATCH WITH .jcarousel-wrapper's height! */
	width: auto;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.carousel-image {
	width: 1024px;
}

/* Image Caption CSS */

.imagecaption {
	position: absolute;
	left: -20px;
	bottom: 100px;
	opacity: 0.75;
	background-color: white;
	-webkit-border-radius: 20px;
       -moz-border-radius: 20px;
	        border-radius: 20px;
	padding: 20px 20px 20px 40px;
	max-width: 600px;
}

.captiontitle {
	font-size: 32px;
}

.captiontext {
	font-size: 16px;
}

/* Carousel Controls CSS */

.jcarousel-prev, .jcarousel-next {
    position: absolute;
    top: 368px; /* MATCH WITH HALF of .jcarousel-wrapper's height! */
    width: 50px;
    height: 50px;
    text-align: center;
    background: white;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    /* font: 24px/27px Arial, sans-serif; */
    font-size: 36px;
    opacity: 0.85;
    -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
            border-radius: 50px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
}

.jcarousel-prev {
    left: 40px;
}

.jcarousel-next {
    right: 40px;
}

.jcarousel-prev.inactive, .jcarousel-next.inactive {
    opacity: 0;
}


/* Carousel Pagination CSS */

.jcarousel-pagination {
	position: absolute;
	bottom: 15px;
	right: 15px;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    line-height: 25px;
    min-width: 25px;
    background: #fff;
    color: #4E443C;
    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
            border-radius: 20px;
    padding: 3px;
    text-align: center;
    margin-right: 4px;
    opacity: .6;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
}

/*=== End image gallery CSS ===*/

.canvas {
	width: 1200px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

.row {
	width: 1024px;
	margin: 0 auto 0 auto;
}

.wide-row {
	width: inherit;
	margin: 0 auto 0 auto;
}

#logo {
	height: 100px;
	width: auto;
	clear: left;
	margin: 0;
}

#searchbar {
	float: right;
	clear: right;
	margin-top: 20px;
}

i.icon {
	font-size: 32px;
}

.ui-icon {
	display: inline-block;
}

/* Social media bar CSS */

#socialmedia-wrapper {
	position: relative;
	width: 1000px;
	margin: 0 auto 20px auto;
	padding: 12px;
	clear: both;
	background-color: #c0c0c0;
	
	-webkit-border-radius: 0 0 8px 8px;
       -moz-border-radius: 0 0 8px 8px;
	        border-radius: 0 0 8px 8px;
	
}

#socialmedia-wrapper li {
	display: inline-block;
	list-style-type: none;
	padding-right: 10px;
	/* border: 1px solid; */
}

#socialmedia-wrapper li.button {
	vertical-align: bottom;
	padding-left: 5px;
	padding-right: 5px;
}

#socialmedia-wrapper li #subscribebutton {
	font-size: 14px;
}

/* Departments CSS */

#departmentsection-wrapper {
	margin: 20px auto 20px auto;
}

.title {
	font-size: 48px;
	text-align: center;
	display: block;
}

.tr {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	width: 1000px;
	padding: 0;
}

.department {
	display: inline-block;
	list-style-type: none;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	padding: 10px;
	vertical-align: top;
}

.department strong {
	position: relative;
	text-align: center;
	clear: both;
	font-size: 24px;
}

.departmenticon {
	/* Enforce 4:3 aspect ratio */
	width: 300px;
	height: 225px;
}

/* Footer CSS */

.footer {
	width: 1024px;
	margin: 20px auto 0 auto;
	background-color: #c0c0c0;
	padding: 10px 0 10px 0;
}

.copyright {
	margin-top: 20px;
}

.col, .address-col {
	position: relative;
	margin: auto;
	width: 250px;
	display: inline-block;
	vertical-align: top;
}

.col {
	padding-top: 20px;
}

.col ul {
	padding: 0;
}

.col ul li {
	list-style-type: none;
}

#footer-logo {
	height: 64px;
	width: auto;
	clear: left;
	margin: 0;
}

.address-col {
	padding-top: 10px;
}

.address-col p {
	margin: 4px;
}

.copyright {
	text-align: center;
}

/* Visual extensions CSS */

.navbar-extension {
	left: 0;
	width: 100%;
	background: black;
	position: absolute;
	clear: both;
	z-index: -9999;
}

.footer-extension {
	left: 0;
	width: 100%;
	background: #c0c0c0;
	position: absolute;
	clear: both;
	z-index: -9999;
}

/* Sidenav CSS */

.sidebar {
	width: 175px;
	height: inherit;
	display: inline-block;
	clear: left;
	background: inherit;
	padding: 0;
	margin: 10px 0 0 0;
	position: relative;
}

.sidebar li {
	list-style-type: none;
	padding: 5px;
}

.bioimg {
	height: 250px;
}

/* Target Firefox to shrink sidebar */

@-moz-document url-prefix() {
    .sidebar {
        font-size: 14px;
        margin: 5px 0 0 0;
    }

    .sidebar li {
    	padding: 2px 2px 2px 20px;
    }

    .content {
    	font-size: 14px;
    }
}

/* Target IE 10+ to shrink sidebar */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .sidebar li {
    	padding: 3px 3px 3px 0;
    }
}

.content {
	width: 925px;
	height: inherit;
	clear: right;
	display: inline-block;
	vertical-align: top;
	margin: 0 auto 0 auto;
	border-left: 2px solid grey;
	padding-left: 20px;
	padding-bottom: 50px;
}