<p>The Department of Avionics focuses on creating professional-quality electrical and computational systems for our launch vehicles and ground communications. Avionics’ research and development goals are split between three Divisions:</p>

<ul>
	<li>Stability and Control - Flight software; Active control systems; Control theory; Computer Vision; Recovery systems software; Sensor filtering and fusion</li>
	<li>Communication - Telemetry; Signal processing hardware and software; Antenna design; Vehicle Tracking; Data visualization</li>
	<li>Architecture - physical support structure; circuit fabrication; embedded systems and software; Real-time systems; Fault-tolerant systems</li>
</ul>

<hr>

<h2>Projects</h2>

<h3>2014-2015</h3>

<h3>Launchbox</h3>
<h4>Project Manager: Dalton Moffitt</h4>

<p>Launchbox is an electronic device that will be used to ignite several of our rocket motors from a distance. This device is an integral component to preserving the safety of our launches, and as such we decided to make reliability a high priority for it's design. It has also been designed in compliance with the safety requirements of the National Association of Rocketry, a governing body for amateur high-power rocketry in the United States. The design for the Launchbox contains two main units. One unit, placed near the launch pad, will deliver the huge amount of current necessary to ignite the motor. This unit is activated by a handheld controller connected by wire stationed far away with our launch personnel. For safety, the controller requires two keys to activate and will sound a siren to alert those nearby.</p>

<p>Album: <a href="http://imgur.com/a/qL4Tn">http://imgur.com/a/qL4Tn</a></p>

<h3>Project Hummingbird</h3>
<h4>Project Manager: Howard Yang</h4>

<p>Project Hummingbird is Student Space Systems’ first actively controlled aerial vehicle. Hummingbird is a custom designed and built quadcopter that is being built as a platform for SSS to experiment with control theory techniques. The quadrotor form-factor was chosen because as opposed to a launch vehicle, flights are safer, It it controlled by an Arduino Uno, which uses a GPS receiver, barometric altimeter, and 9-DOF inertial measurement unit to estimate its state and determine what speed to run each of the four motors at.</p>

<p>Album: <a href="http://imgur.com/a/ZwTik">http://imgur.com/a/ZwTik</a></p>
<p>Videos: <a href="https://www.youtube.com/watch?v=m3fcrfIPtcQ">https://www.youtube.com/watch?v=m3fcrfIPtcQ</a></p>
<p><a href="https://www.youtube.com/watch?v=30_PNrYoVr4">https://www.youtube.com/watch?v=30_PNrYoVr4</a></p>

<h3>Sierra Payload Bay</h3>
<h4>Project Manager: Patrick Wasz</h4>
<h4>Project Manager: Jason Wilensky</h4>

<p>The Sierra Payload Bay was an avionics bay designed to collect data and transmit it over the air for the purpose of flying on our Phase II rocket. The sensing unit was controlled by a Raspberry Pi Model B+, which was connected to a GPS receiver, barometric altimeter, and 9-DOF inertial measurement unit. It was mounted on a 3D-printed avionics sled. The data was recorded on the RPi, and a portion of it was sent over a serial port to an XBee S3B 900HP, a 900 MHz band 250mW transmitter. In order to transmit this data over the necessary distance of 2 miles reliably, the team developed a pair of high-gain antennas to increase the transmission’s range. Both were 4-turn, axial-mode helical antennas made of solid copper and supported by a high density polyethylene structure. Hecker transformers were applied to the base of the helix to decrease the impedance of the antennas to an optimal 50 ohms. The units achieved a transmission range of 4 miles in testing.</p>

<p>Album: <a href="http://imgur.com/a/Sw47m">http://imgur.com/a/Sw47m</a></p>