<p>The Department of Avionics focuses on creating professional-quality electrical and computational systems for our launch vehicles and ground communications. Avionics’ research and development goals are split between three Divisions:</p>

<ul>
	<li>Stability and Control - Flight software; Active control systems; Control theory; Computer Vision; Recovery systems software; Sensor filtering and fusion</li>
	<li>Communication - Telemetry; Signal processing hardware and software; Antenna design; Vehicle Tracking; Data visualization</li>
	<li>Architecture - physical support structure; circuit fabrication; embedded systems and software; Real-time systems; Fault-tolerant systems</li>
</ul>

<hr>

<h2>Projects</h2>

<h3>2015-2016</h3>

<h3>Fault-Tolerant Engine Control Unit</h3>
<h4>Project Manager: Riley Vesto</h4>

<p>Our Engine Control Unit team's goal is to operate as a layer of active safety between rocket engine malfunction and vehicle loss. The ECU, which will encorporate ARM and FPGA technologies, will actively monitor the state of our hybrid 2.0 motor for the Phase IV rocket and initiate an automated shutdown and oxidizer dump sequence when anomalies such as overheating are detected. The team plans to introduce several reduncancies into the unit to ensure safety even in the event of component malfunction.</p>

<h3>Payload Integration</h3>
<h4>Project Manager: Dalton Moffit</h4>

<p>Our Payload Integration team is responsible for integrating all of our hardware into the rocket itself. The team will focus on providing ease of access to each component, such as creating hatches that can be opened and closed on the launch site, as well as ensuring that all the hardware is secured safely as to prevent physical damage while the rocket is in flight.</p>

<h3>Tracking Antenna</h3>
<h4>Project Manager: Howard Yang</h4>

<p>Our Tracking Antenna team is creating an antenna platform that will be able to follow our rockets through their entire flight in real-time. The platform will implement a spherical wrist with focus on high capability for rotational velocity and carrying capacity. Additionally, our team aims to create its own motor controller circuitry for the stepper motors that it will encorporate. The team members will work with concepts from control theory, real-time embedded systems, and robotics.</p>

<h3>Satellite Telemetry Unit</h3>
<h4>Project Manager: Justin Paul</h4>

<p>Our Satellite Telemetry team is developing a telemetry system that will work regardless of our rockets’ altitudes. By routing communications through the Iridium satellite network, this team will establish a line of communication from our rocket that will be especially useful for vehicle recovery as our vehicles. They will create a single embedded solution that will broadcast key engine performance information and location data over Iridium as well as 900MHz band.</p>

<h3>Telemetry Software</h3>
<h4>Project Manager: Hubert Theodore</h4>

<p>Our Telemetry Software team is focused on real-time data visualization of telemetry data. By leveraging various web technologies, they will create an online environment for vehicle monitoring that allows observers from around the globe to watch live flight video, and see key real-time flight status data.</p>

<h3>Reaction Control System Prototype</h3>
<h4>Project Manager: Nicole Zaworski</h4>

<p>Our Reaction Control System team is working on a prototype of an active rocket stabilization system that will utilize cold gas thrusters. The prototype will be an inverted pendulum control system that consists of pressurized air canisters mounted on top of a metal post. The post will remain upright by expelling the compressed gas at high velocities to exert torque on the rig. Technology will be focused on real-time and state-space controls.</p>

<h3>Apogee Detection</h3>
<h4>Project Manager: Ian Smith</h4>

<p>Our Apogee Detection team develops reliable methods of detecting the peak of our rockets' flights in real time. The team will focus on fusing a diverse set of sensing methods to create reliable timing for recovery system deployment.</p>

<h3>Robust State Estimation</h3>
<h4>Project Manager: Steven Schlax</h4>

<p>Our Robust State Estimation team is working on providing our controls teams with reliable real-time estimates of the state of our rockets. They will use a variety of digital signal processing and sensor fusion techniques to determine vehicle attitude, altitude, and more.</p>

<h3>2014-2015</h3>

<h3>Project Hummingbird</h3>
<h4>Project Manager: Howard Yang</h4>

<p>Project Hummingbird is Student Space Systems’ first actively controlled aerial vehicle. Hummingbird is a custom designed and built quadcopter that is being built as a platform for SSS to experiment with control theory techniques. The quadrotor form-factor was chosen because as opposed to a launch vehicle, flights are safer, It it controlled by an Arduino Uno, which uses a GPS receiver, barometric altimeter, and 9-DOF inertial measurement unit to estimate its state and determine what speed to run each of the four motors at.</p>

<p>Album: <a href="http://imgur.com/a/ZwTik">http://imgur.com/a/ZwTik</a></p>
<p>Videos: <a href="https://www.youtube.com/watch?v=m3fcrfIPtcQ">https://www.youtube.com/watch?v=m3fcrfIPtcQ</a></p>
<p><a href="https://www.youtube.com/watch?v=30_PNrYoVr4">https://www.youtube.com/watch?v=30_PNrYoVr4</a></p>

<h3>Sierra Payload Bay</h3>
<h4>Project Manager: Patrick Wasz</h4>
<h4>Project Manager: Jason Wilensky</h4>

<p>The Sierra Payload Bay was an avionics bay designed to collect data and transmit it over the air for the purpose of flying on our Phase II rocket. The sensing unit was controlled by a Raspberry Pi Model B+, which was connected to a GPS receiver, barometric altimeter, and 9-DOF inertial measurement unit. It was mounted on a 3D-printed avionics sled. The data was recorded on the RPi, and a portion of it was sent over a serial port to an XBee S3B 900HP, a 900 MHz band 250mW transmitter. In order to transmit this data over the necessary distance of 2 miles reliably, the team developed a pair of high-gain antennas to increase the transmission’s range. Both were 4-turn, axial-mode helical antennas made of solid copper and supported by a high density polyethylene structure. Hecker transformers were applied to the base of the helix to decrease the impedance of the antennas to an optimal 50 ohms. The units achieved a transmission range of 4 miles in testing.</p>

<p>Album: <a href="http://imgur.com/a/Sw47m">http://imgur.com/a/Sw47m</a></p>
