<p>The Department of Avionics is focused on creating professional-quality electrical and computational systems for our launch vehicles and ground communications. The vast majority of Avionics’ research and development goals fit into at least one of the following focus groups:</p>

<ul>
	<li>Guidance, Navigation, and Control - Flight software; Active control systems; Control theory; Recovery systems software; Sensor filtering and fusion;</li>
	<li>Communication - Telemetry; Signal processing hardware and software; Antenna design; Data visualization;</li>
	<li>Payload Systems - physical support structure; circuit fabrication; embedded systems and application software; Real-time systems</li>
</ul>