<p>Our External Department can be subdivided into three primary categories--Corporate Outreach, Educational Outreach, and Recruiting.</p>

<p>The Corporate Outreach subcommittee is responsible for developing relationships with companies spanning many industries for guidance and assistance in achieving our goals. (If you are a company representative or individual wishing to learn more about the sponsorship process, please email External Director Sean Nachnani at <a href="mailto:nachnan2@illinois.edu">nachnan2@illinois.edu</a>). Consistent with our goals of emulating a corporate environment for Student Space Systems, leaders and senior members have outlined a process for professional correspondence with the corporate world. In addition to the obvious benefits the club as a whole receives from the invaluable work of this committee, participating members also gain from the opportunity to learn often overlooked soft skills, such as networking, professional writing, and presentation.</p>

<p>Recognizing that our biggest legacy will be those whom we inspire by our work, our focus on Educational Outreach through activities with younger students at local schools is paramount. The members of SSS balance their passion for the highly technical side of our organization with the dedication to the responsibility of educating others and inspiring the next great engineers of our generation. Primary Ed-Out events include our annual exhibit at Engineering Open House (EOH), Quad Day, and Illinois Space Day (ISD), as well as presentations at local schools and youth groups, such as 4-H. If you are a teacher or leader of a group that would like to have SSS give an interactive presentation on rocketry or just engineering in general, please email External Director Sean Nachnani <a href="mailto:nachnan2@illinois.edu">nachnan2@illinois.edu</a>.</p>

<p>Active general members are the lifeblood of our organization. As such, recruiting is of the utmost importance. Our largest annual recruiting event is Quad Day, where you can be sure to spot a tall rocket at our exhibit from a distance on the main quad. Further, we present annually at the AIAA Freshmen Conference, appealing to the interest of the newest aerospace majors to walk the halls of Talbot Lab. We also seek out new members at the mid-year E-Night, where all engineering organizations assemble for Spring recruiting. We continue to strengthen our new member base by leveraging our presence on social media, where you can find our most up-to-date news. Like us on Facebook, and follow us on Twitter!</p>

<hr>

<h2>Projects</h2>

<h3>2013-2014</h3>

<h3>Engineering Open House</h3>

<p>2014’s EOH exhibit included a video demonstration of a test firing of an I-class motor with both high-speed and thermal imaging. While some SSS members explained posters on SSS and high-power rocketry to visitors, others ran an interactive “Sharpie Rocket” activity where kids learned about the basics components of a rocket while making their very own miniature model rocket.</p>

<p>Album: <a href="http://imgur.com/a/sw55I">http://imgur.com/a/sw55I</a></p>

<hr>

<h3>2014-2015</h3>

<h3>AIAA Freshmen Conference</h3>

<p>The student branch of the American Institute of Aeronautics and Astronautics (AIAA) puts on a conference every year for the new Aerospace freshmen during the week before classes begin. Aimed at introducing them to all that the University, College of Engineering, and Aerospace Department have to offer, time is dedicated for the Registered Student Organizations (RSOs) in the AE department to present to the new freshmen. This was our first opportunity to present, and we were thrilled by the interest shown by the Class of 2018, many of whom are now active members in our club.</p>

<h3>Quad Day</h3>

<p>With much the excitement commensurate with the day before a new school year, Quad Day brings together hundreds of RSOs from across the University of Illinois at Urbana-Champaign on the main quad. Freshmen and seniors alike bear the late August heat to learn about the multitude of ways they can get involved outside of the classroom. This was our very first appearance at Quad Day, and we couldn’t have been more excited with the results. Drawing attention with our then under-construction 11 foot tall Sierra rocket in its launch tower, draped patriotically with an American flag, over 250 students signed up to receive more information. Although based in the AE department, we were pleased with the diversity of majors that came by, ranging from the arts to the sciences and back. Moreover, we maintained 50% retention rate of our initial sign-ups on our emailing list, and about a third of those are active club members.</p>

<p>Album: <a href="http://imgur.com/a/kxjF4">http://imgur.com/a/kxjF4</a></p>

<h3>4-H</h3>

<p>In November, three SSS members traveled to Sadorus, IL to present to a local 4-H youth group. The students were challenged to identify the basic components of a rocket and their purposes. The kids were awed by a live demonstration of the thermal properties of a real tile from Space Shuttle Atlantis as they learned the importance of choosing proper materials. The day’s event culminated with a true engineering challenge in which they had to build an apparatus to transport ping-pong balls across containers using only household items like straws, clay, and paper clips. The supervising SSS members were impressed by the ingenuity, teamwork, and creativity of the 12-year-olds, especially of team “Scoopers,” which managed to transport a total of 24 ping-pong balls in just 90 seconds!</p>

<p>Album: <a href="http://imgur.com/a/1413U">http://imgur.com/a/1413U</a></p>

<h3>E-Night</h3>

<p>While Quad Day leads off the Fall semester with a fantastic recruiting opportunity, a more intimate setting can be found at the annual E-Night, where RSOs from the College of Engineering get together for Spring recruiting. Usually held on the Bardeen Quad, this year’s event was held inside of the brand new Electrical and Computer Engineering Building (ECEB). With sufficiently tall ceilings, we were thankfully able to display 11 foot tall Phase II Sierra without issues. Also on display: the winning Space Grant rocket from last year, Phase I Ozark, and informative presentation boards detailing our club’s projects and achievements.</p>

<h3>Engineering Open House</h3>

<p>Armed with the experience of running our first EOH exhibit last year, we made careful improvements to ensure an even more successful exhibit this time around. Morning rain, which brought all the exhibits indoors, turned out to be a blessing in disguise by allowing us to create a visually stimulating walk-through exhibit in our lab of the Talbot basement. Bringing back a smash hit from last year, we prepared the DIY Sharpie Rockets for the kids. (Sales at Sam’s Club caused this year’s versions to be Expo Rockets, but the kids didn’t mind!) With much the gusto of a proverbial “kid in a candy shop,” school-aged children gathered around to create their very own toy rocket, which they eagerly took home. Supplies for the Expo Rockets ran out in just 90 minutes! Supervising SSS members were impressed by the inquisitive questions proposed about the purpose of the nose cone and fins on a real rocket, and were happy to provide simple, yet fundamentally sound answers that quenched their curiosity. After noting the success of the Space Shuttle Tile Demo at the 4-H event last November, we were fortunate to have the department lend us a demo kit for the open house. As large groups gathered frequently throughout the day, a trained SSS volunteer performed the demonstration while explaining interesting facts about the Shuttle Tile (it flew on Space Shuttle Atlantis, for one!) as well as the importance of material properties. The demonstration was performed over a dozen times each of the two days of EOH. On display for observation were Ozark, Sierra, the Space Grant rocket, and a Level One rocket. Further, a 3D printed cross-section of the newly designed hybrid rocket engine, as well as prototypes for Project Hummingbird and Reaction Control System (RCS) sat beside fold-out showboards documenting SSS projects.</p>

<p>Album: <a href="http://imgur.com/a/mFnhh">http://imgur.com/a/mFnhh</a></p>

<h3>Illinois Space Day</h3>

<p>Supporting Illinois Space Society (ISS), a fellow RSO in the Aerospace Engineering Department, Student Space Systems sent over half a dozen volunteers to exhibit at the annual ISS outreach event. Students from middle schools in the nearby areas came to see demonstrations and exhibits as well as to participate in interactive activities from the AE department. In addition to the usual slew of rockets and presentation boards, SSS members demoed our newly developed long-range telemetry technology for the first time. Eager audiences watched as a message typed on one laptop was relayed by antenna to appear shortly after on a neighboring computer!</p>
