<p>While the rest of the departments are focused on the constructing and improving the rocket, the Department of Launch Systems makes sure it gets launched. To do this, we are tasked with the organization and transportation of the rockets and all the equipment required for launches. One of the main components involved is the launch tower. As the club’s rockets get larger, the need for the club to have their own tower capable of launching them. The construction of this tower is the main project of the department. 
The tower will be able to:</p>

<ul>
	<li>Scale vertically to accommodate taller rockets.</li>
	<li>Adjust the diameter of the rails.</li>
	<li>Rotate to allow the the rocket to be loaded horizontally and launch from various angles.</li>
	<li>After launch, the department heads the recovery teams to find and recover the rocket when it returns to Earth.</li>
</ul>