<p>The Department of Propulsion creates rocket propulsion technology for Student Space Systems. Its main goals are to create and analyze the performance of hybrid engines for usage on Phase rockets. Research and development is mainly dedicated towards propellants, fuel containment, pump control systems, fuel injection, nozzles, and ground testing. The department also hopes to further the capabilities of our engines in areas including thrust vectoring and throttling.</p>

<hr>

<h2>Projects</h2>

<h3>2015-2016</h3>

<h3>G.O.R.E. Mk. II Hybrid Rocket Motor</h3>
<h4>Injection Manager: Justin Paul</h4>
<h4>Nozzle Manager: Dalton Moffitt</h4>
<h4>Propellants Manager: Sean Ebihara</h4>
<h4>Structure and Integration Manager: Shree Das</h4>
<h4>Test Stand Manager: Nicolas Alba</h4>

<p>The second generation hybrid rocket engine, currently G.O.R.E. Mk. II, will be the first SSS built rocket motor planned to fly on a rocket as well as being the first 3D printed rocket motor in UIUC history.It utilizes a mixture of O2 and N2O as oxidizer for the most optimal burn characteristics. Paraffin wax will be utilized as the fuel for GORE MK II due to it’s ease of acquisition, available research on reactions with oxidizers, provides a higher ISP, and is easier to handle than HTPB.</p>

<p>We continue to use Rocket Propulsion Analysis to predict the theoretical behavior of our engine. We will continue to operate at a combustion chamber pressure of 800 psi, reaching temperatures above 3,500 Kelvin. Through the use of Inconel 718 for our 3D printed material, which can resist extreme environments, allows us to save both space and weight.</p>
 
<p>G.O.R.E. Mk.II will have a thrust of 6 kN (1348.85lbf) with a total impulse ranging between 70,000 to 80,000 kN*s. In terms of impulse, GORE Mk. II will be one of the most powerful 3D printed hybrid engines in the world. It will fly on Phase IV using active control from the motor controller, to ensure we reach the altitude goal of 30,480 meters (100,000 ft.).</p>

<p>The project has currently passed the Preliminary Design phase and a critical design review is scheduled for February. Progress is being made on revolutionary injection systems, as well as integration between all systems. Paraffin is also being acquired to be tested in the labs for more accurate chemical composition data for the simulations as well as testing of electric arc ignition systems.</p>

<h3>Thrust Vector Control</h3>
<h4>Project Manager: Steven Kosvick</h4>

<p>Our TVC team is developing technology for active stabilization of SSS's future launch vehicles. The team is currently working on a ground prototype for the second-generation 3D-printed liquid engine that will be developed by our <a href="/departments/specialprojects">Special Projects Department</a>. For our preliminary design, we decided to use a gimbaling system that rotates the entire engine to minimize mechanical complexity. We designed a jointed actuation system that will rotate the engine the few of degrees necessary to exert adequate torque on one of our rockets.</p>

<h3>2014-2015</h3>

<h3>G.O.R.E. Mk. I Hybrid Rocket Motor</h3>
<h4>Injection Manager: Justin Paul</h4>
<h4>Nozzle Manager: Sam Wagner</h4>
<h4>Propellants Manager: Matthew Ho</h4>
<h4>Structure and Integration Manager: James Hall</h4>

<p>A hybrid rocket motor is a complex rocket engine that uses two phases of reactants, a solid fuel and a gaseous/liquid oxidizer, to produce powerful, efficient propulsion. The gaseous/liquid oxidizer is stored in a pressurized tank at the front of the engine. It is released through a pressure regulator into an injector which evenly distributes the flow of oxidizer. The injector exposes the oxidizer to the fuel-coated combustion chamber where the oxidizer interacts with the surface of the fuel to combust, produce expanding exhaust, and heat the rest of the fuel. The exhaust then travels to the end of the combustion chamber, where it is compressed and released through the nozzle.</p>

<p>Our hybrid rocket engine, named G.O.R.E. Mk. I, reacts gaseous N2O at 2000 psi in tank and 841 psi after regulator with rubberized HTPB fuel. N2O is a non-toxic gas which does not ignite spontaneously under normal conditions. It may intensify fires or cause asphyxiation, so to preserve safety, we use it in a controlled, well-ventilated environment at all times. HTPB is a mild skin irritant and non-spontaneously flammable, but with proper attention and safety equipment, it is not a significant hazard to health. We chose these propellants according to various criteria including, but not limited to, price, spontaneity, safety, and availability of documentation.</p>

<p>We used NASA-sponsored aerodynamics software Rocket Propulsion Analysis to predict the theoretical behavior of our engine. We predicted that we will reach a chamber pressure of 700-800 psi, chamber temperature of 3,350 K,  specific impulse (by mass) of 2269.8 N*s/kg, and thrust coefficient of 1.476. We accounted these values into our design, and promptly did calculations to determine that our setup was capable of containing and managing these temperatures and pressures.</p>

<p>G.O.R.E. Mk. I will be the most powerful hybrid motor produced by the University of Illinois with a total impulse output of 3372 lbf*s (15,000 N*s) and a maximum thrust output of 1237 lbf. We are aiming for a 3 to 4 second engine fire.</p>

<p>The first cold flow test of the hybrid motor was conducted on 06/20/2015. A cold flow test is when the oxidizer is flowed through the system to check for leaks as well as to ensure that the correct flow time is achieved and that the materials sustain the extremely high pressure. The test was conducted, and resulted in a success. Two small leaks were found and fixed, along with the materials sustaining the 800 psi and up pressures. The fuel was changed to Nytrox (Oxygen and Nitrous Oxide mixture) at 2000 psi for our second cold flow test to be conducted end of Fall 2016 semester, with a full setup of the motor controller and test stand at Willard Airport.</p>

<p>Albums: <a href="http://imgur.com/a/ci8F9">http://imgur.com/a/ci8F9</a></p>
<p><a href="http://imgur.com/a/xhnhg">http://imgur.com/a/xhnhg</a></p>

<h3>Second Generation Hybrid Propulsion Research</h3>
<h4>Project Manager: James Hall</h4>

<p>At the beginning of the 2015 summer session, the Department of Propulsion created a research team with the goal to begin researching fuel mixtures and rocket integration for future hybrid motors. Research has been plentiful in all areas and has allowed the department to become better equipped and knowledgeable for next year’s projects.</p>
