<p>The Department of Special Projects is the umbrella department for everything that is too much a triangular peg to fit into a single square-holed department. Because of this encompassing nature, Special Projects is split into three groups:</p>

<ul>
	<li>Research and Development, a team of students dedicated to experimenting in the furthest reaches of SSS’s technical reach. This group investigates several technologies that SSS may need in the distant future.</li>
	<li>Level One Certification, an organized group which allows students to fulfill the requirements for getting a NAR Level One High Powered Rocketry certificate</li>
	<li>Space Grant, SSS’s entry into the NASA Space Grant Competition.</li>
</ul>

<hr>

<h2>Projects</h2>

<h3>2015-2016</h3>

<h3>Liquid Engine</h3>
<h4>Project Managers: Sean Ebihara, Alex Faustino</h4>

<p>We are currently developing two methane/LOX engines that will both be constructed with additive manufacturing. We plan to construct and thoroughly test our first engine in the Spring of 2016. It is designed to have a sea level thrust of 444 N (100 lbf) and a burn time of 10 seconds. We see it as an excellent way to introduce us to the basics of liquid engines while allowing us to fine tune our design methods before advancing to more complex systems. The second engine is scaled up to 5560.277 N (1250 lbf) with the addition of regenerative cooling and laser ignition. Additionally, the Propulsion department is developing a gimbal to vector the thrust of this engine. If we have a successful laser ignition test using a powerful 5W laser, we will be one of the first research groups in the world to ignite a cryogenic rocket engine with laser technology. Our move to liquid engines is about more than just choosing a sustainable, powerful launch vehicle for our rockets. We also view this project as an opportunity to demonstrate the increasing accessibility of aerospace technology in the world. Not long ago this technology was restricted to government and military but is now being designed, constructed and fully utilized by undergraduates. While we may not be the first to accomplish our goals it is evident that we will pass down what we learn and definitely not be the last either.</p>

<p>The project is currently approaching the Preliminary Design Review phase with the finalizing design of the injector system as well as part acquisition and budgets.</p>

<h3>Cryogenics</h3>
<h4>Project Manager: Justin Smith</h4>

<p>Alongside the liquid engine team we will have a team dedicated to researching and understanding the cryogenic storage of liquids. This team will be learning the safety procedures necessary for handling cryogenic storage systems and how we can transfer it from storage to the fuel tank of the liquid engine. </p>

<h3>Space Grant</h3>
<h4>Project Manager: Emily McCratic</h4>

<p>The NASA Space Grant Midwest Rocketry Competition is held annually for collegiate teams, where the students must design, build, and launch a rocket to fit a specific purpose. While SSS does not view partaking in rocketry competitions as a primary goal, it does allow for students to participate in competitions as a means of developing new rocket technologies, which is why Space Grant falls under Special Projects. The objective of the competition change each year; the objective for this year is to create an active drag system that can reliably control the apogee of the rocket. For this competition the drag system will be used to make the apogee 75% of the original launch without the drag system enabled. </p>

<h3>Stage Separation</h3>
<h4>Project Manager: Michael Gray</h4>

<p>The stage separation project is continuing its work with a small scale test of a multistage rocket using explosive bolts. Each bolt contains a small black powder charge that will ignite and decouple the first stage which will deploy a parachute so it can be recovered. The bolts will create a safe distance between the stages before the ignition of the second stage.</p>

<h3>Project Hummingbird</h3>
<h4>Project Manager: Howard Yang</h4>

<p>Project Hummingbird, originally in Avionics, is continuing its work in Special Projects for the 2015-2016 school year. The team is experimenting with several different control algorithms as well as visualization and performance evaluation techniques. </p>

<h3>2014-2015</h3>

<h3>Stage Separation</h3>
<h4>Project Manager: Michael Gray</h4>

<p>Stage Separation is a R&D project started late spring 2015. The motivating question is: “is stage separation a feasible option for SSS, and what would be the best approach to allow our rockets to utilize a method of staging?” There are a few options available, including mechanical and explosive separators. The Stage Separation group will need to address many concerns, such as stability while separating, reusability of stages, and consistency of separation going in to the 2015-2016 school year.</p>

<h3>Level One Certification</h3>
<h4>Project Manager: Florin Ghinet</h4>

<p>The Level One Certification project is an avenue for members of all ages and experience levels to get some extra hands-on experience in building rockets. The goal is to help members create their own rocket to get their own National Association of Rocketry Level One Certification, which allows them to purchase more powerful engines. It’s a good chance to brush up on the basic skills needed to construct a rocket.</p>

<h3>Space Grant</h3>
<h4>Project Manager: David Degenhardt</h4>

<p>In the 2014-2015 year, Space Grant continued its goal of being an area for R&D of new technologies that we want to incorporate into more mainstream SSS. Our biggest development was an integrated and custom sensor package, which was designed to record position, rotation, and altitude data, and communicate it back to the ground. In order to meet the competition parameters, these avionic needed to fit on a board smaller than an inch across. SSS students designed and printed a custom circuit board on which they constructed their own flight-ready microcontroller and sensor package. While the custom sensor package was a successfully tested, last-minute issues with the payload section of the rocket precluded the integration of the SSS Custom Avionics Unit.</p>

<p>Video: <a href="https://www.youtube.com/watch?v=ev6Nc9MDmdQ">https://www.youtube.com/watch?v=ev6Nc9MDmdQ</a></p>
<p>Album: <a href="http://imgur.com/a/j3QsU">http://imgur.com/a/j3QsU</a></p>

<h3>Reaction Control System</h3>
<h4>Project Manager: Max Archer</h4>

<p>The Reaction Control System is SSS’s first attempt at looking into actively stabilized rockets. RCS was started early fall 2014 as a R&D project, and by the end of the school year spring 2015, was deemed ready to go into active development in the Avionics department. The working concept is to use solenoid valve controlled pressurized gas to torque the rocket as it is flying for course correction and other such maneuvers. The software to control such a system was developed in parallel in Project Hummingbird, in the Avionics department.</p>

<h3>2013-2014</h3>

<h3>Space Grant</h3>
<h4>Project Manager: David Degenhardt</h4>

<p>In early 2014, a team of 5 freshmen entered the Space Grant Midwest Rocketry Competition with the goal of creating a custom telemetry system for SSS. The system developed became the cornerstone of all SSS comms technology, and launched the freshman team into 1st place out of 14 competing teams from across the Midwest, including 3 other UIUC teams and several Senior Design Project teams. More information can be found here.</p>

<p>Video: <a href="https://www.youtube.com/watch?v=JMU5tzTcr64">https://www.youtube.com/watch?v=JMU5tzTcr64</a></p>
<p>Album: <a href="http://imgur.com/a/ZKygB">http://imgur.com/a/ZKygB</a></p>
