<p>The Department of Structures is in charge of the design and construction of the Phase rocket airframes,, in addition to the reflight preparation of previous rockets for research purposes. Structures is responsible for developing sturdy and lightweight rocket components that can withstand not only the intense stresses of supersonic flight, but also for the safe and effective integration of new technologies developed by Propulsion, Avionics, and Special Projects. In addition to the construction of rocket airframes, Structures is actively involved in research in areas such as student-manufactured composite rocket components, computational fluid dynamics simulations on rockets, fuel tanks, and advanced rocket architectures.</p>

<hr>

<h2>Projects</h2>

<h3>2014-2015</h3>

<h3>Phase III Airframe</h3>

<p>The Phase III rocket represents a monumental shift in the way SSS designs and constructs its phase rockets. Whereas all past rocket were constructed of fiberglass parts purchased from amatuer rocketry suppliers, Phase III will be constructed out of aluminum bought from non-rocketry suppliers. The aluminum construction of the rocket will allow for an increase in  sophistication of custom student-built parts, such as a removable airframe-integrated camera mount and a heavy-duty motor retainer. In addition, a brazing technique will be demonstrated on Phase III in the form of a critical weld between the airframe and its high-performance aluminum fins.</p>

<h3>Custom Composite Parts</h3>

<p>The manufacturing of composite rocket components is critical to the Department of Structures’ goal of producing tough and lightweight launch vehicles. Students involved in the project researched the various composite layup techniques before fabricating their own composite fins in the UIUC Composites Lab. SSS students will continue to refine their techniques in order to create parts such as heat-resistant fins, bulkheads, and nose cone shrouds.</p>