<p>For all department relevant questions, please contact the director.</p>
<p>For all other inquires please email us at <a href="mailto:uiuc.sss@gmail.co">uiuc.sss@gmail.com</a></p>

<form>
	Name:<br/>
	<input type="text" name="name">
	<input type="submit" value="Submit">
</form>