<p>For all department relevant questions, please contact the director.</p>

<p>For all other inquires please email us at <a href="mailto:uiuc.sss@gmail.com">uiuc.sss@gmail.com</a></p>

<!-- Begin form -->
<a id="foxyform_embed_link_696760" href="http://www.foxyform.com/">foxyform</a>
<script type="text/javascript">
(function(d, t){
   var g = d.createElement(t),
       s = d.getElementsByTagName(t)[0];
   g.src = "http://www.foxyform.com/js.php?id=696760&sec_hash=725a53b3124&width=350px";
   s.parentNode.insertBefore(g, s);
}(document, "script"));
</script>
<!-- End form -->