<p>Since high power rocketry requires great cooperation among various disciplines of engineering, Student Space Systems needs a diverse group of members to be successful. You don’t need to have any specific major to join; you only need to have or be interested in gaining knowledge and experience in the following areas:</p>

<ul>
	<li>Aerospace Engineering</li>
	<li>Computer Science</li>
	<li>Computer Engineering</li>
	<li>Electrical Engineering</li>
	<li>Engineering Physics</li>
	<li>Materials Science and Engineering</li>
	<li>Mechanical Engineering</li>
</ul>

<p>If you are interested in joining SSS or have concerns, contact us at uiuc.sss@gmail.com. We look forward to working with you!</p>