<p>Since high power rocketry requires great cooperation among various disciplines of engineering, our talent must draw from the collective experience and intelligence of our college; for this reason, we are looking to recruit students from the following majors:</p>

<ul>
<li>Aerospace Engineering</li>
<li>Computer Science</li>
<li>Computer Engineering</li>
<li>Electrical Engineering</li>
<li>Engineering Physics</li>
<li>Materials Science and Engineering</li>
<li>Mechanical Engineering</li>
</ul>

<p>If you are interested in joining SSS or have concerns, contact us at <a href="mailto:uiuc.sss@gmail.com">uiuc.sss@gmail.com</a>. We look forward to working with you!</p>