<p>Since Student Space Systems is a young and thriving student organization on campus, and we are always in search of obtaining sponsorship from companies or individuals.</p>

<p>SSS accepts tax deductible donations of all sorts, whether it be monetary, excess parts/tools, or even educational mentorship.  Upon donation, we would gladly offer recognition amongst our members and our many spectators.</p>

<p>All donations will undoubtedly not only help our members gain insight and education in the world of rocketry, but they will also help us promote STEM related fields at local schools and outreach events.</p>

<p>For any persons/companies interested in helping our cause or wishing to acquire more information about us, please don’t hesitate to contact us at <a href="mailto:uiuc.sss@gmail.com">uiuc.sss@gmail.com.</a></p>
